* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Abel', sans-serif;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
  height: 1000px;
}
#footer {
  background-color: rgb(187, 163, 28);
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 150px;
  margin-top: -100px;
  clear: both;
}

nav {
  position: fixed;
  z-index: 3;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(190, 107, 4);
  list-style: none;
}

#social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
  }

  #social a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    color: teal;
  }

  footer {
    text-align: center;
    color: teal;
  }
  
  .border {
    margin top 5px;
    border-bottom: 2px solid;
    width: 500px;
    margin-left:430px;
  }

  #social i {
    font-size: 30px;
  }

  .banner {
    height:400px;
    position: relative;
    background-image: url(../images/banner.jpg);
  }